autocommand==2.2.2
cffi==2.0.0
cheroot==11.0.0
CherryPy==18.10.0
cryptography==46.0.1
Faker==37.8.0
greenlet==3.2.4
jaraco.collections==5.2.1
jaraco.context==6.0.1
jaraco.functools==4.3.0
jaraco.text==4.0.0
Jinja2==3.1.6
MarkupSafe==3.0.2
more-itertools==10.8.0
numpy==2.3.3
pandas==2.3.2
pipa==0.1.0
portend==3.2.1
pycparser==2.23
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.43
tempora==5.8.1
typing_extensions==4.15.0
tzdata==2025.2
zc.lockfile==4.0
